// .container {
//   width: 500px;
//   height: 500px;
//   background-color: green;
// }
// .cardInner{
//   background-color: black;

// }
// body {
//   transition: background-color 0.5s;
//   button{
//   background-color: 0.5s;
//   }

//   .red{
//     background-color: red
//     ;
//   }
// }
body {
  background: url(https://images.alphacoders.com/598/598846.jpg)
    center/cover;
  
  .input-container {
    display: flex;
    justify-content: center ;
    margin: 0;
    input {
      align-items: center;
      margin-left: 40px;
      padding: 20px;
      font-size: 25px;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0);
      border: 2px dotted black;
      outline: none;
      transition: .5s;
      &::placeholder{
        color: rgb(81, 255, 0);
      }
      &:focus{
        background-color: rgb(255, 255, 255);
      }
    }
    margin: 50px;
  }
  .shinobi {
      background-color: rgb(58, 146, 197);
      padding: 20px;
      border-radius: 20px;
      box-shadow: 2px 2px 10px black;
    }
  #shinobiList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

  }
  img {
    width: 300px;
    height: 250px;
  }
}
